.version-item {
  padding: 14px 16px;
  border: 1px solid #e2e8f0;
  align-items: center;
  transition: background-color 0.2s ease;
  border-radius: 4px;
  margin-bottom: 10px;
}

.version-item:hover {
  background-color: #f6f6f6;
}

.version-item:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
}

.version-item label {
  font-size: 0.7rem;
  color: #4a5568;
  font-weight: 800;
  text-transform: uppercase;
}

.version-column label {
  padding-left: 4px;
}

.version-item-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  padding: 10px;
}

.version-item-main:hover {
  cursor: pointer;
}

.version-item-sub {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-top: 1px solid #e2e8f0;
  padding: 10px;
}

.repo-name {
  color: #1a202c;
  display: flex;
  align-items: center;
}

.version-tag {
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  background-color: #e2e8f0;
  color: #3182ce;
  border-radius: 16px;
  font-weight: 500;
  font-size: 0.9em;
  white-space: nowrap;
  max-width: fit-content;
}

.pipeline-name {
  color: #2d3748;
}

.run-name {
  color: #4a5568;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  font-size: 0.9em;
}

/* Responsive design */
@media (max-width: 768px) {
  .version-item {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    padding: 12px;
  }

  .run-column,
  .version-column {
    margin-top: 8px;
  }

  .version-tag {
    max-width: 100%;
  }
}
